@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #353535; 
  padding: 10px 20px;
 
}

 Logo Styling 
.logo img {
  height: 50px;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 110px;
  font-family: "Big Shoulders", sans-serif;
  font-size: xx-large;

}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: normal;
 // transition: 0.3s;
}

/* Active Link */
.nav-links .active {
  font-weight: bold;
}

.login-btn {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 8px 12px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}

.login-btn i {
  font-size: 18px;
}

.login-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}
