<app-navbar></app-navbar>  <!-- Ensure navbar is included -->
<router-outlet></router-outlet> <!-- Where pages load -->
<footer>
    <p>2024 All Rights Reserved | Terms of Use | SMARTgreen</p>
    <a href="https://www.flaticon.com/free-icons/agriculture" title="agriculture icons">Agriculture icons created by Sea.icon - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/pest-control" title="pest control icons">Pest control icons created by Sea.icon - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/horticulture" title="horticulture icons">Horticulture icons created by Sea.icon - Flaticon</a>
</footer>